
*.~gm
*.lst
*.log
*.lxi
*.gsp
*.gpr

*.gdx
model/model.log~1
model/model.log~2
~$ntnu_iam_2024_excel_notes.xlsx
data
model/model.log~3
ntnu_iam_2024.log~2
ntnu_iam_2024.log~1
ntnu_iam_2024_excel_notes.xlsx
energy_results_export.xlsx
energy_results_export.yaml
